<aside class="aside p-3 d-flex flex-column no-wrap">
    <ul class="nav flex-column py-3 mb-auto">
        <li class="nav-item mb-2">
            <a class="nav-link link-dark py-0 mb-3" href="#">
                <img src="./assets/images/logo-ANSWER.svg" alt="logo-ANSWER">
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link link-dark" href="#">
                <span class="material-icons me-3 align-bottom">assessment</span>
                Dashboard
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link link-dark" href="#">
                <span class="material-icons me-3 align-bottom">question_answer</span>
                Question
            </a>
        </li>
        <li class="nav-item mb-2 active">
            <a class="nav-link link-dark" href="#">
                <span class="material-icons me-3 align-bottom">assignment</span>
                Assignment
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link link-dark" href="#">
                <span class="material-icons me-3 align-bottom">video_library</span>
                Course
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link link-dark" href="#">
                <span class="material-icons me-3 align-bottom">people</span>
                Admin
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link link-dark" href="#">
                <span class="material-icons me-3 align-bottom">settings</span>
                Settings
            </a>
        </li>
    </ul>
    <div class="d-flex currentUser px-3">
        <img src="./assets/images/andychen.jpeg" alt="andychen" class="rounded-circle me-3">
        <ul>
            <li>Andy Chen</li>
            <li class="fw-normal userEmail">andy0401@mail.com</li>
        </ul>
    </div>
</aside>