<nav class="navbar header p-3 mb-3 d-flex align-items-center">
    <div class="d-flex align-items-baseline">
        <h1 class="fs-4 fw-bold mb-0"><%- heading %></h1>

        <% switch (heading) { 
            case 'Assignment': %>
                <div class="dropdown">
                    <a class="fw-bold link-dark d-flex align-items-center" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">
                        All Courses
                        <span class="material-icons text-success ms-2">
                            expand_more
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Front-End</a></li>
                        <li><a class="dropdown-item" href="#">Gulp</a></li>
                        <li><a class="dropdown-item" href="#">Git & Github</a></li>
                    </ul>
                    </li>
                </div>
                <% break; 

            case 'Admin': %>
            <!--Demonstration for the use of 'switch()' in EJS. No actual pages.-->
            <div class="dropdown">
                <a class="fw-bold link-dark d-flex align-items-center" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">
                    All Courses
                    <span class="material-icons text-success ms-2">
                        expand_more
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Front-End</a></li>
                    <li><a class="dropdown-item" href="#">Gulp</a></li>
                    <li><a class="dropdown-item" href="#">Git & Github</a></li>
                </ul>
                </li>
            </div>
                <% break; 
        } %>
    </div>
    <div class="d-flex align-items-center">
        <span class="material-icons me-4">search</span>
        <span class="material-icons">notifications_active</span>
    </div>

</nav>