<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%- title %></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
	<link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
	<main class="d-flex">
		<!--Left menu start-->
		<%- include('./ejs/aside.ejs'); %>
		<!--Left menu end-->

		<!--Right content start-->
		<section class="w-100 p-3">
			<!--Header start-->
			<%- include('./ejs/header.ejs'); %>
			<!--Header end-->

			<%- contents %>
		</section>
		<!--Right content end-->
	</main>
	<script src="./assets/js/vendors.js"></script>
	<script src="./assets/js/all.js"></script>
</body>

</html>